 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/-min.jpg");
  background-position: 63.21% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1152px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  font-weight: normal;
  font-family: Raleway, sans-serif;
  width: 769px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  width: 711px;
  font-style: italic;
  margin: 23px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-video-1 {
  width: 583px;
  height: 303px;
  margin: 20px auto 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-countdown-1 {
  margin: 40px auto 0;
}

.u-section-1 .u-countdown-counter-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-1 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-2 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-3 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-4 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-5 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-6 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-6 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-btn-2 {
  font-size: 1.25rem;
  letter-spacing: 1px;
  text-transform: none;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  font-weight: normal;
  margin: 50px auto 0;
}

.u-section-1 .u-icon-1 {
  font-size: 1.45em;
  vertical-align: -2px;
}

.u-section-1 .u-btn-3 {
  font-size: 1.25rem;
  letter-spacing: 1px;
  text-transform: none;
  margin: 48px auto 0;
}

.u-section-1 .u-icon-2 {
  font-size: 1.45em;
  vertical-align: -2px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-size: 0.875rem;
  margin: 72px auto 40px;
  padding: 8px 35px 9px;
}

.u-section-1 .u-icon-3 {
  vertical-align: 0px;
  font-size: 1.2858em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 950px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 52px;
  }

  .u-section-1 .u-video-1 {
    margin-top: -9px;
  }

  .u-section-1 .u-countdown-1 {
    margin-top: 21px;
  }

  .u-section-1 .u-btn-2 {
    border-style: none;
    text-transform: uppercase;
    transition-duration: 0.5s;
    margin-top: -26px;
    padding: 23px 30px 24px;
  }

  .u-section-1 .u-btn-3 {
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }

  .u-section-1 .u-btn-4 {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 728px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 34px;
  }

  .u-section-1 .u-video-1 {
    margin-top: 9px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: -64px;
    width: 540px;
  }

  .u-section-1 .u-video-1 {
    width: 540px;
    height: 281px;
    margin-top: 107px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 856px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 110px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -194px;
    width: 340px;
  }

  .u-section-1 .u-video-1 {
    height: 177px;
    margin-top: 162px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-countdown-1 {
    margin-top: 13px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 32px;
    padding: 2px 18px 2px 17px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 97px;
    margin-bottom: 48px;
  }
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before,
.u-section-1 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-btn-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-3,
.u-section-1 .u-btn-3:before,
.u-section-1 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-3.u-btn-3.u-btn-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-3.u-btn-3.u-btn-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-btn-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-2 .u-sheet-1 {
  min-height: 624px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1084px;
  margin: 28px auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 568px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 23px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 62px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 116px 100px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 548px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 493px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 85px;
    margin-right: 85px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 433px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 8px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 66px;
    margin-right: 66px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 25px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: 42px;
    margin-right: auto;
    margin-left: 23px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 48px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 624px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1084px;
  margin: 28px auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 568px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 23px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 55px auto 0 7px;
}

.u-section-3 .u-text-2 {
  margin: 35px auto 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 568px;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-3 .u-shape-1 {
  width: 519px;
  height: 336px;
  margin: 188px auto 0 90px;
}

.u-section-3 .u-image-1 {
  width: 540px;
  height: 404px;
  margin: -449px auto 0 35px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 548px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 493px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 499px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 186px;
    margin-right: 35px;
    margin-left: auto;
  }

  .u-section-3 .u-image-1 {
    margin-top: -437px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 433px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 564px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: 8px;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    margin-left: 23px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 564px;
  }

  .u-section-3 .u-shape-1 {
    width: 492px;
    margin-top: 158px;
    margin-right: -26px;
  }

  .u-section-3 .u-image-1 {
    width: 492px;
    height: 368px;
    margin-top: -409px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 619px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 411px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 394px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 42px;
    margin-right: auto;
    margin-left: 23px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 48px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 390px;
  }

  .u-section-3 .u-shape-1 {
    width: 341px;
    height: 289px;
    margin-top: 0;
    margin-right: -24px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 254px;
    margin-top: -284px;
    margin-right: -8px;
    margin-left: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 592px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1084px;
  margin: 52px auto 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 608px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-shape-1 {
  width: 519px;
  height: 336px;
  margin: 127px auto 0 28px;
}

.u-section-4 .u-image-1 {
  width: 575px;
  height: 385px;
  margin: -423px auto 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 608px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 29px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 8px;
}

.u-section-4 .u-text-2 {
  margin: 34px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 554px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 556px;
  }

  .u-section-4 .u-image-1 {
    width: 567px;
    height: 380px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 527px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 469px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 859px;
  }

  .u-section-4 .u-shape-1 {
    width: 420px;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    width: 420px;
    height: 281px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1024px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 1289px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1011px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 36px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 265px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-shape-1 {
    width: 320px;
  }

  .u-section-4 .u-image-1 {
    width: 320px;
    height: 214px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 393px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-right: 63px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 624px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1084px;
  margin: 28px auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 568px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 23px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 55px auto 0 7px;
}

.u-section-5 .u-text-2 {
  margin: 35px auto 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 568px;
}

.u-section-5 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-5 .u-shape-1 {
  width: 519px;
  height: 336px;
  margin: 188px auto 0 90px;
}

.u-section-5 .u-image-1 {
  width: 539px;
  height: 347px;
  margin: -403px auto 0 35px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 548px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 493px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 499px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-shape-1 {
    margin-top: 186px;
    margin-right: 35px;
    margin-left: auto;
  }

  .u-section-5 .u-image-1 {
    margin-top: -437px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 433px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 564px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-right: 8px;
    margin-left: auto;
  }

  .u-section-5 .u-text-2 {
    margin-left: 23px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 564px;
  }

  .u-section-5 .u-shape-1 {
    width: 492px;
    margin-top: 158px;
    margin-right: -26px;
  }

  .u-section-5 .u-image-1 {
    width: 492px;
    height: 368px;
    margin-top: -409px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 619px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 411px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 394px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 42px;
    margin-right: auto;
    margin-left: 23px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 48px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 390px;
  }

  .u-section-5 .u-shape-1 {
    width: 341px;
    height: 289px;
    margin-top: 0;
    margin-right: -24px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 219px;
    margin-top: -284px;
    margin-right: -8px;
    margin-left: auto;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 592px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1084px;
  margin: 52px auto 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 608px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-shape-1 {
  width: 519px;
  height: 336px;
  margin: 127px auto 0 28px;
}

.u-section-6 .u-image-1 {
  width: 578px;
  height: 385px;
  margin: -424px 33px 0 auto;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 608px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 29px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 8px;
}

.u-section-6 .u-text-2 {
  margin: 34px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 554px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 556px;
  }

  .u-section-6 .u-shape-1 {
    width: 410px;
    margin-left: 0;
  }

  .u-section-6 .u-image-1 {
    width: 480px;
    height: 335px;
    margin-top: -382px;
    margin-right: 0;
    margin-left: 34px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 527px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 469px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 859px;
  }

  .u-section-6 .u-shape-1 {
    width: 368px;
    height: 210px;
    margin-top: 212px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-6 .u-image-1 {
    width: 412px;
    height: 230px;
    margin-top: -282px;
    margin-left: auto;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1024px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 1289px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1011px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 36px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 265px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-shape-1 {
    width: 320px;
    margin-top: 31px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-image-1 {
    width: 320px;
    height: 179px;
    margin-top: -240px;
    margin-right: 2px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 393px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-right: 63px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 624px;
}

.u-section-7 .u-layout-wrap-1 {
  width: 1084px;
  margin: 28px auto;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 568px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 23px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 55px auto 0 7px;
}

.u-section-7 .u-text-2 {
  margin: 35px auto 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 568px;
}

.u-section-7 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-7 .u-shape-1 {
  width: 519px;
  height: 336px;
  margin: 184px 45px 0 auto;
}

.u-section-7 .u-image-1 {
  width: 651px;
  height: 404px;
  margin: -448px auto 0 35px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 548px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 493px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 499px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-7 .u-shape-1 {
    margin-top: 186px;
    margin-right: 35px;
  }

  .u-section-7 .u-image-1 {
    width: 642px;
    height: 399px;
    margin-top: -437px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 433px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 564px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-right: 8px;
    margin-left: auto;
  }

  .u-section-7 .u-text-2 {
    margin-left: 23px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 564px;
  }

  .u-section-7 .u-shape-1 {
    width: 492px;
    margin-top: 158px;
    margin-right: -26px;
  }

  .u-section-7 .u-image-1 {
    width: 492px;
    height: 368px;
    margin-top: -409px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 619px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 411px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 394px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 42px;
    margin-right: auto;
    margin-left: 23px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 48px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 390px;
  }

  .u-section-7 .u-shape-1 {
    width: 341px;
    height: 289px;
    margin-top: 0;
    margin-right: -24px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 211px;
    margin-top: -284px;
    margin-right: -8px;
    margin-left: auto;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 592px;
}

.u-section-8 .u-layout-wrap-1 {
  width: 1084px;
  margin: 52px auto 60px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 608px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-8 .u-shape-1 {
  width: 519px;
  height: 336px;
  margin: 118px 60px 0 auto;
}

.u-section-8 .u-image-1 {
  width: 611px;
  height: 385px;
  margin: -408px auto 0 26px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 608px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 29px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 8px;
}

.u-section-8 .u-text-2 {
  margin: 34px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 554px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 556px;
  }

  .u-section-8 .u-shape-1 {
    width: 410px;
    margin-left: 0;
  }

  .u-section-8 .u-image-1 {
    width: 480px;
    height: 335px;
    margin-top: -382px;
    margin-left: 34px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 527px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 469px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 859px;
  }

  .u-section-8 .u-shape-1 {
    width: 368px;
    height: 210px;
    margin-top: 212px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-8 .u-image-1 {
    width: 412px;
    height: 230px;
    margin-top: -282px;
    margin-left: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1024px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 1289px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1011px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 36px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 265px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-8 .u-shape-1 {
    width: 340px;
    margin-top: 31px;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 179px;
    margin-top: -240px;
    margin-right: 2px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 393px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-right: 63px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 624px;
}

.u-section-9 .u-layout-wrap-1 {
  width: 1084px;
  margin: 28px auto;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 568px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 23px 30px 18px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  margin: 55px auto 0 7px;
}

.u-section-9 .u-text-2 {
  margin: 35px auto 0 0;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 568px;
}

.u-section-9 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-9 .u-shape-1 {
  width: 519px;
  height: 336px;
  margin: 188px auto 0 35px;
}

.u-section-9 .u-image-1 {
  width: 655px;
  height: 404px;
  margin: -464px 5px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 548px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 493px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 499px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-9 .u-shape-1 {
    margin-top: 186px;
    margin-right: 35px;
    margin-left: auto;
  }

  .u-section-9 .u-image-1 {
    width: 642px;
    height: 396px;
    margin-top: -437px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 433px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 564px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-right: 8px;
    margin-left: auto;
  }

  .u-section-9 .u-text-2 {
    margin-left: 23px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 564px;
  }

  .u-section-9 .u-shape-1 {
    width: 492px;
    margin-top: 158px;
    margin-right: -26px;
  }

  .u-section-9 .u-image-1 {
    width: 492px;
    height: 368px;
    margin-top: -409px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 619px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 411px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 394px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 42px;
    margin-right: auto;
    margin-left: 23px;
  }

  .u-section-9 .u-text-2 {
    margin-top: 48px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 390px;
  }

  .u-section-9 .u-shape-1 {
    width: 341px;
    height: 289px;
    margin-top: 0;
    margin-right: -24px;
  }

  .u-section-9 .u-image-1 {
    width: 340px;
    height: 210px;
    margin-top: -284px;
    margin-right: -8px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 592px;
}

.u-section-10 .u-layout-wrap-1 {
  width: 1084px;
  margin: 52px auto 60px;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 608px;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-shape-1 {
  width: 519px;
  height: 336px;
  margin: 127px auto 0 17px;
}

.u-section-10 .u-image-1 {
  width: 594px;
  height: 316px;
  margin: -363px auto 0 28px;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 608px;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px 29px;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 8px;
}

.u-section-10 .u-text-2 {
  margin: 34px 0 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 554px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 556px;
  }

  .u-section-10 .u-shape-1 {
    width: 410px;
    margin-left: 0;
  }

  .u-section-10 .u-image-1 {
    width: 480px;
    height: 335px;
    margin-top: -382px;
    margin-left: 34px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 527px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 469px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 859px;
  }

  .u-section-10 .u-shape-1 {
    width: 368px;
    height: 210px;
    margin-top: 212px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-10 .u-image-1 {
    width: 412px;
    height: 230px;
    margin-top: -282px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1024px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 1289px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1011px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-top: 36px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 265px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-10 .u-shape-1 {
    width: 320px;
    margin-top: 31px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-10 .u-image-1 {
    width: 320px;
    height: 179px;
    margin-top: -240px;
    margin-right: 2px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 393px;
  }

  .u-section-10 .u-text-1 {
    width: auto;
    margin-right: 63px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 624px;
}

.u-section-11 .u-layout-wrap-1 {
  width: 1084px;
  margin: 28px auto;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 568px;
}

.u-section-11 .u-container-layout-1 {
  padding: 30px 23px;
}

.u-section-11 .u-text-1 {
  font-weight: 700;
  margin: 55px auto 0 7px;
}

.u-section-11 .u-text-2 {
  margin: 34px auto 0 0;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 568px;
}

.u-section-11 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-11 .u-shape-1 {
  width: 519px;
  height: 336px;
  margin: 188px 100px 0 auto;
}

.u-section-11 .u-image-1 {
  width: 567px;
  height: 404px;
  margin: -449px auto 0 35px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 548px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 493px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 499px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-11 .u-shape-1 {
    margin-top: 186px;
    margin-right: 35px;
  }

  .u-section-11 .u-image-1 {
    margin-top: -437px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 433px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 564px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-11 .u-text-1 {
    width: auto;
    margin-right: 8px;
    margin-left: auto;
  }

  .u-section-11 .u-text-2 {
    margin-left: 23px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 564px;
  }

  .u-section-11 .u-shape-1 {
    width: 492px;
    margin-top: 158px;
    margin-right: -26px;
  }

  .u-section-11 .u-image-1 {
    width: 492px;
    height: 368px;
    margin-top: -409px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 619px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 411px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 394px;
  }

  .u-section-11 .u-text-1 {
    margin-top: 42px;
    margin-right: auto;
    margin-left: 23px;
  }

  .u-section-11 .u-text-2 {
    margin-top: 48px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 390px;
  }

  .u-section-11 .u-shape-1 {
    width: 341px;
    height: 289px;
    margin-top: 0;
    margin-right: -24px;
  }

  .u-section-11 .u-image-1 {
    width: 340px;
    height: 242px;
    margin-top: -284px;
    margin-right: -8px;
    margin-left: auto;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 545px;
}

.u-section-12 .u-text-1 {
  font-size: 2.25rem;
  width: 466px;
  margin: 51px auto 0;
}

.u-section-12 .u-video-1 {
  width: 570px;
  height: 321px;
  margin: 34px auto 60px;
}

.u-section-12 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-12 .u-video-1 {
    width: 540px;
    height: 304px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 415px;
  }

  .u-section-12 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-12 .u-video-1 {
    width: 340px;
    height: 191px;
  }
} .u-section-13 {
  background-image: none;
}

.u-section-13 .u-sheet-1 {
  min-height: 784px;
}

.u-section-13 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  width: 363px;
  margin: 163px auto 0;
}

.u-section-13 .u-list-1 {
  width: 697px;
  margin: 90px auto 60px;
}

.u-section-13 .u-repeater-1 {
  min-height: 344px;
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  grid-gap: 10px;
}

.u-section-13 .u-list-item-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-13 .u-container-layout-1 {
  padding: 20px 70px;
}

.u-section-13 .u-text-2 {
  margin: 0;
}

.u-section-13 .u-image-1 {
  width: 102px;
  height: 102px;
  background-image: url("images/118c73e1ef568ed0a20db641f63bf40cba956717a18cf030e118408249abf34bcf540fbc2f59957fa6fa2afd016d2ff7bdc2855c473cd230bbfdd1_1280.png");
  background-position: 50% 50%;
  margin: 30px auto 0;
}

.u-section-13 .u-text-3 {
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-13 .u-list-item-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-13 .u-container-layout-2 {
  padding: 20px 70px;
}

.u-section-13 .u-text-4 {
  margin: 0;
}

.u-section-13 .u-image-2 {
  width: 102px;
  height: 102px;
  background-image: url("images/d1708f79742ca83fd4af5c445374f0fa65dbba21646441f5aebb1f4829a74f0b37ffcc4abe872ea2bde21472eb8c07e28cba01d469cfed2fba8497_1280.png");
  background-position: 50% 50%;
  margin: 30px auto 0;
}

.u-section-13 .u-text-5 {
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-13 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 12px;
}

.u-section-13 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 12px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 701px;
  }

  .u-section-13 .u-text-1 {
    margin-top: 74px;
  }

  .u-section-13 .u-list-1 {
    margin-bottom: 37px;
  }

  .u-section-13 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-13 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-list-1 {
    width: 540px;
  }

  .u-section-13 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-13 .u-list-1 {
    width: 340px;
  }
} .u-section-14 {
  background-image: none;
}

.u-section-14 .u-sheet-1 {
  min-height: 702px;
}

.u-section-14 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  text-transform: uppercase;
  font-weight: 500;
  margin: 140px auto 0;
}

.u-section-14 .u-accordion-1 {
  width: 894px;
  margin: 75px auto 60px;
}

.u-section-14 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-14 .u-icon-1 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-14 .u-accordion-pane-1 {
  min-height: 154px;
  background-image: none;
}

.u-section-14 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-14 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-14 .u-icon-2 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-14 .u-accordion-pane-2 {
  min-height: 154px;
  background-image: none;
}

.u-section-14 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-14 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-14 .u-icon-3 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-14 .u-accordion-pane-3 {
  min-height: 154px;
  background-image: none;
}

.u-section-14 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-14 .u-accordion-link-4 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-14 .u-icon-4 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-14 .u-accordion-pane-4 {
  min-height: 154px;
  background-image: none;
}

.u-section-14 .u-container-layout-4 {
  padding: 20px 30px;
}

@media (max-width: 1199px) {
  .u-section-14 .u-accordion-pane-1 {
    height: auto;
  }

  .u-section-14 .u-accordion-pane-2 {
    height: auto;
  }

  .u-section-14 .u-accordion-pane-3 {
    height: auto;
  }

  .u-section-14 .u-accordion-pane-4 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-accordion-1 {
    width: 540px;
  }

  .u-section-14 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-14 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-14 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-14 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-14 .u-accordion-1 {
    width: 340px;
  }
}.u-section-15 .u-sheet-1 {
  min-height: 709px;
}

.u-section-15 .u-layout-wrap-1 {
  width: 719px;
  margin: 109px auto 60px;
}

.u-section-15 .u-layout-cell-1 {
  background-image: none;
  min-height: 178px;
}

.u-section-15 .u-container-layout-1 {
  padding: 30px;
}

.u-section-15 .u-btn-1 {
  font-size: 1.25rem;
  letter-spacing: 1px;
  text-transform: none;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto;
}

.u-section-15 .u-icon-1 {
  font-size: 1.45em;
  vertical-align: -2px;
}

.u-section-15 .u-layout-cell-2 {
  min-height: 159px;
  background-image: none;
}

.u-section-15 .u-container-layout-2 {
  padding: 10px 30px;
}

.u-section-15 .u-text-1 {
  font-weight: 400;
  margin: 25px auto 0;
}

.u-section-15 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 30px auto 0;
}

.u-section-15 .u-icon-2 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-15 .u-icon-3 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-15 .u-icon-4 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-15 .u-sheet-1 {
    min-height: 585px;
  }
}

@media (max-width: 991px) {
  .u-section-15 .u-sheet-1 {
    min-height: 247px;
  }

  .u-section-15 .u-layout-wrap-1 {
    margin-top: 70px;
  }

  .u-section-15 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-15 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-sheet-1 {
    min-height: 227px;
  }

  .u-section-15 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-15 .u-container-layout-1 {
    padding: 22px 40px;
  }

  .u-section-15 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-15 .u-container-layout-1 {
    padding: 30px 0;
  }
}

.u-section-15 .u-btn-1,
.u-section-15 .u-btn-1:before,
.u-section-15 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-15 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-15 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-15 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-15 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}