 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/-min.jpg");
  background-position: 63.21% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1092px;
}

.u-section-1 .u-shape-1 {
  width: 414px;
  height: 78px;
  background-image: none;
  margin: 31px 208px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  font-weight: normal;
  font-family: Raleway, sans-serif;
  margin: -78px 194px 0 177px;
}

.u-section-1 .u-video-1 {
  width: 753px;
  height: 411px;
  margin: 53px auto 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-btn-1 {
  transition-duration: 0.5s;
  font-size: 1.25rem;
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 60px auto 0;
  padding: 23px 30px 24px;
}

.u-section-1 .u-icon-1 {
  font-size: 2.2em;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-size: 0.875rem;
  margin: 36px auto 60px;
  padding: 8px 35px 9px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1088px;
  }

  .u-section-1 .u-shape-1 {
    width: 753px;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: 94px;
    margin-left: 77px;
  }

  .u-section-1 .u-btn-1 {
    font-weight: normal;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1070px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-video-1 {
    width: 720px;
    height: 393px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 986px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
  }

  .u-section-1 .u-video-1 {
    width: 540px;
    height: 295px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 914px;
  }

  .u-section-1 .u-shape-1 {
    height: 119px;
    margin-top: 32px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: -110px;
  }

  .u-section-1 .u-video-1 {
    height: 186px;
    margin-top: 31px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 41px;
    margin-left: -12px;
    margin-right: -12px;
    padding: 22px 27px 23px 26px;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-2 .u-sheet-1 {
  min-height: 587px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 88px 87px 0;
}

.u-section-2 .u-list-1 {
  margin-top: 45px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 332px;
  grid-gap: 20px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px;
}

.u-section-2 .u-group-1 {
  width: 283px;
  min-height: 265px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 20px 20px;
}

.u-section-2 .u-icon-1 {
  width: 89px;
  height: 89px;
  background-image: linear-gradient(#478ac9, #72efe9);
  margin: -35px auto 0;
  padding: 20px;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
  font-style: italic;
  margin: 33px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px;
}

.u-section-2 .u-group-2 {
  width: 283px;
  min-height: 265px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 20px 20px;
}

.u-section-2 .u-icon-2 {
  width: 89px;
  height: 89px;
  background-image: linear-gradient(#478ac9, #72efe9);
  margin: -35px auto 0;
  padding: 20px;
}

.u-section-2 .u-text-4 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2 .u-text-5 {
  font-style: italic;
  margin: 33px 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 20px;
}

.u-section-2 .u-group-3 {
  width: 283px;
  min-height: 265px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 20px 20px;
}

.u-section-2 .u-icon-3 {
  width: 89px;
  height: 89px;
  background-image: linear-gradient(#478ac9, #72efe9);
  margin: -35px auto 0;
  padding: 20px;
}

.u-section-2 .u-text-6 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2 .u-text-7 {
  font-style: italic;
  margin: 33px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 273px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.99997px));
    min-height: 627px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1304px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 79px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    margin-top: 54px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 623px;
}

.u-section-3 .u-text-1 {
  width: 734px;
  font-size: 2.25rem;
  margin: 67px auto 0;
}

.u-section-3 .u-image-1 {
  width: 350px;
  height: 210px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -199px -11px 0 auto;
}

.u-section-3 .u-text-2 {
  width: 637px;
  font-style: normal;
  margin: 10px auto 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 55px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 326px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 10px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
  padding: 10px;
}

.u-section-3 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 326px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 10px;
}

.u-section-3 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
  padding: 10px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 326px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 10px;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
  padding: 10px;
}

.u-section-3 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 326px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 10px;
}

.u-section-3 .u-icon-4 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
  padding: 10px;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 326px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 10px;
}

.u-section-3 .u-icon-5 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
  padding: 10px;
}

.u-section-3 .u-text-7 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-3 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 326px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px 10px;
}

.u-section-3 .u-icon-6 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
  padding: 10px;
}

.u-section-3 .u-layout-cell-7 {
  min-height: 326px;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px 10px;
}

.u-section-3 .u-icon-7 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
  padding: 10px;
}

.u-section-3 .u-text-9 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-3 .u-text-10 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 596px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 387px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 19px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 21px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 269px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 269px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 269px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 269px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 269px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 269px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 357px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 357px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 357px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 357px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 357px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 354px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 354px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-bottom: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 4365px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 132px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 123px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 158px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1689px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -251px;
    margin-right: -37px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
    margin-top: 62px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 37px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 71px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 72px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 99px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 624px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1084px;
  margin: 28px auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 568px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 23px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 55px auto 0 7px;
}

.u-section-4 .u-text-2 {
  margin: 35px auto 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 568px;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-4 .u-shape-1 {
  width: 519px;
  height: 336px;
  margin: 188px auto 0 90px;
}

.u-section-4 .u-image-1 {
  width: 540px;
  height: 404px;
  margin: -449px auto 0 35px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 548px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 493px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 499px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 186px;
    margin-right: 35px;
    margin-left: auto;
  }

  .u-section-4 .u-image-1 {
    margin-top: -437px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 433px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 564px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-right: 8px;
    margin-left: auto;
  }

  .u-section-4 .u-text-2 {
    margin-left: 23px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 564px;
  }

  .u-section-4 .u-shape-1 {
    width: 492px;
    margin-top: 158px;
    margin-right: -26px;
  }

  .u-section-4 .u-image-1 {
    width: 492px;
    height: 368px;
    margin-top: -409px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 619px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 411px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 394px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 42px;
    margin-right: auto;
    margin-left: 23px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 48px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 390px;
  }

  .u-section-4 .u-shape-1 {
    width: 341px;
    height: 289px;
    margin-top: 0;
    margin-right: -24px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 254px;
    margin-top: -284px;
    margin-right: -8px;
    margin-left: auto;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 592px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1084px;
  margin: 52px auto 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 608px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-shape-1 {
  width: 519px;
  height: 336px;
  margin: 127px auto 0 28px;
}

.u-section-5 .u-image-1 {
  width: 578px;
  height: 385px;
  margin: -416px auto 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 608px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 29px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 8px;
}

.u-section-5 .u-text-2 {
  margin: 34px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 554px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 556px;
  }

  .u-section-5 .u-shape-1 {
    width: 410px;
    margin-left: 0;
  }

  .u-section-5 .u-image-1 {
    width: 480px;
    height: 335px;
    margin-top: -382px;
    margin-left: 34px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 527px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 469px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 859px;
  }

  .u-section-5 .u-shape-1 {
    width: 368px;
    height: 210px;
    margin-top: 212px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-5 .u-image-1 {
    width: 412px;
    height: 230px;
    margin-top: -282px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1024px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 1289px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1011px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 36px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 265px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-shape-1 {
    width: 320px;
    margin-top: 31px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-image-1 {
    width: 320px;
    height: 179px;
    margin-top: -240px;
    margin-right: 2px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 393px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-right: 63px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 545px;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  width: 466px;
  margin: 51px auto 0;
}

.u-section-6 .u-video-1 {
  width: 570px;
  height: 321px;
  margin: 34px auto 60px;
}

.u-section-6 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-6 .u-video-1 {
    width: 540px;
    height: 304px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 415px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-6 .u-video-1 {
    width: 340px;
    height: 191px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 784px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  width: 363px;
  margin: 163px auto 0;
}

.u-section-7 .u-list-1 {
  width: 697px;
  margin: 90px auto 60px;
}

.u-section-7 .u-repeater-1 {
  min-height: 344px;
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  grid-gap: 10px;
}

.u-section-7 .u-list-item-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px 70px;
}

.u-section-7 .u-text-2 {
  margin: 0;
}

.u-section-7 .u-image-1 {
  width: 102px;
  height: 102px;
  background-image: url("images/118c73e1ef568ed0a20db641f63bf40cba956717a18cf030e118408249abf34bcf540fbc2f59957fa6fa2afd016d2ff7bdc2855c473cd230bbfdd1_1280.png");
  background-position: 50% 50%;
  margin: 30px auto 0;
}

.u-section-7 .u-text-3 {
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-7 .u-list-item-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 20px 70px;
}

.u-section-7 .u-text-4 {
  margin: 0;
}

.u-section-7 .u-image-2 {
  width: 102px;
  height: 102px;
  background-image: url("images/d1708f79742ca83fd4af5c445374f0fa65dbba21646441f5aebb1f4829a74f0b37ffcc4abe872ea2bde21472eb8c07e28cba01d469cfed2fba8497_1280.png");
  background-position: 50% 50%;
  margin: 30px auto 0;
}

.u-section-7 .u-text-5 {
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-7 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 12px;
}

.u-section-7 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 12px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 701px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 74px;
  }

  .u-section-7 .u-list-1 {
    margin-bottom: 37px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-list-1 {
    width: 540px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-7 .u-list-1 {
    width: 340px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 702px;
}

.u-section-8 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  text-transform: uppercase;
  font-weight: 500;
  margin: 140px auto 0;
}

.u-section-8 .u-accordion-1 {
  width: 894px;
  margin: 75px auto 60px;
}

.u-section-8 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-8 .u-icon-1 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-8 .u-accordion-pane-1 {
  min-height: 154px;
  background-image: none;
}

.u-section-8 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-8 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-8 .u-icon-2 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-8 .u-accordion-pane-2 {
  min-height: 154px;
  background-image: none;
}

.u-section-8 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-8 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-8 .u-icon-3 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-8 .u-accordion-pane-3 {
  min-height: 154px;
  background-image: none;
}

.u-section-8 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-8 .u-accordion-link-4 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-8 .u-icon-4 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-8 .u-accordion-pane-4 {
  min-height: 154px;
  background-image: none;
}

.u-section-8 .u-container-layout-4 {
  padding: 20px 30px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-accordion-pane-1 {
    height: auto;
  }

  .u-section-8 .u-accordion-pane-2 {
    height: auto;
  }

  .u-section-8 .u-accordion-pane-3 {
    height: auto;
  }

  .u-section-8 .u-accordion-pane-4 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-accordion-1 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-8 .u-accordion-1 {
    width: 340px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 709px;
}

.u-section-9 .u-layout-wrap-1 {
  width: 719px;
  margin: 109px auto 60px;
}

.u-section-9 .u-layout-cell-1 {
  background-image: none;
  min-height: 178px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-btn-1 {
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  font-weight: normal;
  text-transform: none;
  letter-spacing: normal;
  font-size: 1rem;
  margin: 17px 186px 0 auto;
}

.u-section-9 .u-icon-1 {
  font-size: 2.3em;
  margin-right: 6px;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 159px;
  background-image: none;
}

.u-section-9 .u-container-layout-2 {
  padding: 10px 30px;
}

.u-section-9 .u-text-1 {
  font-weight: 400;
  margin: 25px auto 0;
}

.u-section-9 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 30px auto 0;
}

.u-section-9 .u-icon-2 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-9 .u-icon-3 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-9 .u-icon-4 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 585px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 247px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 70px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 227px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-9 .u-container-layout-1 {
    padding: 22px 40px;
  }

  .u-section-9 .u-btn-1 {
    margin-right: 47px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 153px;
  }

  .u-section-9 .u-container-layout-1 {
    padding: 30px 0;
  }

  .u-section-9 .u-btn-1 {
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.25rem;
    margin-top: 0;
    margin-left: -30px;
    margin-right: -30px;
    padding: 0 15px;
  }
}

.u-section-9 .u-btn-1,
.u-section-9 .u-btn-1:before,
.u-section-9 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-9 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-9 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-9 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-9 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}